body{
    background-color: cadetblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.ticket_calculator,
.user_ticket{
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 0;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.ticket_calculator h2,
.user_ticket h2{
    padding-bottom: 1rem;
    border-bottom: 1px solid cadetblue;
}

.answers,
.user_ticket_details{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.answers label,
.user_ticket_details h3{
    color: cadetblue;
}

.ticket_calculator_body button{
    background-color: cadetblue;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.user_ticket_body{
    padding: 1rem;
}

.user_ticket_details span{
    padding: 0.5rem;
    border-bottom: 2px solid cadetblue;
}

.passenger_ticket_name span{
    background-color: lightgrey;
}